.carousel-inner img {
    display: block;
    width: 1200px !important;
    height: 600px !important;
    margin: 0 auto;
}

img {
    width: 150px;
    height: 225px;
}

form .stars {
    margin-right: 100px;
    margin-top: 30px;
}

h1 {
    font-family: 'Raleway';
    font-size: 54px;
    letter-spacing: 10px;
    font-weight: 200;
    line-height: 60px;
    text-transform: uppercase;
}
h2, h3, h4, label {
     font-family: 'Montserrat';
     font-size: 24px;
     letter-spacing: 6px;
     font-weight: 200;
     line-height: 30px;
     text-transform: uppercase;
     margin-bottom: 15px;
}

p {
    color: #727272;
}

button {
    ont-family: 'Montserrat';
    font-size: 24px;
    font-weight: 200;
    line-height: 30px;
    text-transform: uppercase;
    margin-bottom: 15px;
}

a.btn:hover {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
}
a.btn {
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    -o-transform: scale(0.8);
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
}

input::placeholder {

}